@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs{
    display: flex;
    justify-content: center;
  }

  .carousel.carousel-slider .control-arrow {
    display: none;
  }

  .control-dots{
    display: none;
  }
  .react-tabs__tab--selected {
    background: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px !important;
    padding: 5px !important;
    margin:auto ;
    
}
.tab-btn{
    margin: auto;
}

.slider-wrapper{
  height: 600px;
}
